# 제품 이상여부 판별 프로젝트

Auto clave 데이터 확인

## 1. 데이터 불러오기

In [24]:
import warnings
import pandas as pd

# DtypeWarning 무시
warnings.filterwarnings('ignore', category=pd.errors.DtypeWarning)

# 데이터 파일 경로
file_path_csv = '../../data/Auto clave.csv'
file_path_excel = '../../data/Auto clave.xlsx'
file_path_target = '../../data/train_y.csv'

# 데이터 파일 읽기
csv_AutoClave = pd.read_csv(file_path_csv) # CSV 파일
excel_AutoClave = pd.read_excel(file_path_excel) # Excel 파일
csv_target = pd.read_csv(file_path_target) # CSV 파일

# csv_AutoClave & csv_target 병합
df_AutoClave = pd.merge(csv_AutoClave, csv_target, "inner", on="Set ID")

In [10]:
# 출력 다 하고 싶을때 사용하는 코드

## 출력 모두 보기
pd.set_option('display.max_rows', None)

# -- 여기에 코드 작성 --

## 출력 모두 보기 취소 (원래대로 바꾸기)
pd.reset_option('display.max_rows')

In [25]:
# csv 파일 정보 출력
csv_AutoClave.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61052 entries, 0 to 61051
Data columns (total 26 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Wip Line          61052 non-null  object
 1   Process Desc.     61052 non-null  object
 2   Equipment         61052 non-null  object
 3   Model.Suffix      61052 non-null  object
 4   Workorder         61052 non-null  object
 5   LOT ID            61052 non-null  object
 6   Set ID            61052 non-null  object
 7   Box ID            0 non-null      float64
 8   Collect Date      61052 non-null  object
 9   Insp. Seq No.     61052 non-null  int64
 10  Insp Judge Code   61052 non-null  object
 11  Collect Result    61052 non-null  float64
 12  Unit Time         61052 non-null  int64
 13  Judge Value       61052 non-null  object
 14  Collect Result.1  61052 non-null  float64
 15  Unit Time.1       61052 non-null  int64
 16  Judge Value.1     61052 non-null  object
 17  Collect Result.2  61052 non-null  float64
 18  Unit Time.2       61052 non-null  int64
 19  Judge Value.2     61052 non-null  object
 20  Collect Result.3  61052 non-null  int64
 21  Unit Time.3       61052 non-null  int64
 22  Judge Value.3     61052 non-null  object
 23  Collect Result.4  16942 non-null  object
 24  Unit Time.4       0 non-null      float64
 25  Judge Value.4     16942 non-null  object
dtypes: float64(5), int64(6), object(15)
memory usage: 12.1+ MB

In [26]:
# excel 파일 정보 출력
excel_AutoClave.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61053 entries, 0 to 61052
Data columns (total 26 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Collect Item:                  61053 non-null  object
 1   Unnamed: 1                     61053 non-null  object
 2   Unnamed: 2                     61053 non-null  object
 3   Unnamed: 3                     61053 non-null  object
 4   Unnamed: 4                     61053 non-null  object
 5   Unnamed: 5                     61053 non-null  object
 6   Unnamed: 6                     61053 non-null  object
 7   Unnamed: 7                     1 non-null      object
 8   Unnamed: 8                     61053 non-null  object
 9   Unnamed: 9                     61053 non-null  object
 10  Unnamed: 10                    61053 non-null  object
 11  1st Pressure                   61053 non-null  object
 12  1st Pressure.1                 61053 non-null  object
 13  1st Pressure.2                 61053 non-null  object
 14  2nd Pressure                   61053 non-null  object
 15  2nd Pressure.1                 61053 non-null  object
 16  2nd Pressure.2                 61053 non-null  object
 17  3rd Pressure                   61053 non-null  object
 18  3rd Pressure.1                 61053 non-null  object
 19  3rd Pressure.2                 61053 non-null  object
 20  Chamber Temp.                  61053 non-null  object
 21  Chamber Temp..1                61053 non-null  object
 22  Chamber Temp..2                61053 non-null  object
 23  GMES_ORIGIN_INSP_JUDGE_CODE    16943 non-null  object
 24  GMES_ORIGIN_INSP_JUDGE_CODE.1  1 non-null      object
 25  GMES_ORIGIN_INSP_JUDGE_CODE.2  16943 non-null  object
dtypes: object(26)
memory usage: 12.1+ MB

In [27]:
# 병합된 데이터 정보 출력
df_AutoClave.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 42446 entries, 0 to 42445
Data columns (total 27 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Wip Line          42446 non-null  object
 1   Process Desc.     42446 non-null  object
 2   Equipment         42446 non-null  object
 3   Model.Suffix      42446 non-null  object
 4   Workorder         42446 non-null  object
 5   LOT ID            42446 non-null  object
 6   Set ID            42446 non-null  object
 7   Box ID            0 non-null      float64
 8   Collect Date      42446 non-null  object
 9   Insp. Seq No.     42446 non-null  int64
 10  Insp Judge Code   42446 non-null  object
 11  Collect Result    42446 non-null  float64
 12  Unit Time         42446 non-null  int64
 13  Judge Value       42446 non-null  object
 14  Collect Result.1  42446 non-null  float64
 15  Unit Time.1       42446 non-null  int64
 16  Judge Value.1     42446 non-null  object
 17  Collect Result.2  42446 non-null  float64
 18  Unit Time.2       42446 non-null  int64
 19  Judge Value.2     42446 non-null  object
 20  Collect Result.3  42446 non-null  int64
 21  Unit Time.3       42446 non-null  int64
 22  Judge Value.3     42446 non-null  object
 23  Collect Result.4  11728 non-null  object
 24  Unit Time.4       0 non-null      float64
 25  Judge Value.4     11728 non-null  object
 26  target            42446 non-null  object
dtypes: float64(5), int64(6), object(16)
memory usage: 9.1+ MB

In [28]:
# 인덱스 0번째 행 출력 -> head로 출력하면 변수가 가로로 펴져서 보기 불편함
df_AutoClave.iloc[0, :]

Wip Line                         IVI-OB6
Process Desc.             Auto Clave Out
Equipment                 Auto Clave Out
Model.Suffix                 AJX75334501
Workorder                     3F1X5847-2
LOT ID              OP753345013050000003
Set ID              OP753345013050000003
Box ID                               NaN
Collect Date         2023-05-04 09:49:12
Insp. Seq No.                          1
Insp Judge Code                       OK
Collect Result                     0.312
Unit Time                            300
Judge Value                           OK
Collect Result.1                   0.502
Unit Time.1                          120
Judge Value.1                         OK
Collect Result.2                   0.501
Unit Time.2                           90
Judge Value.2                         OK
Collect Result.3                      50
Unit Time.3                          510
Judge Value.3                         OK
Collect Result.4                     NaN
Unit Time.4                          NaN
Judge Value.4                        NaN
target                          AbNormal
Name: 0, dtype: object

In [29]:
# excel 데이터의 각 열에 대한 값의 개수 출력 -> 변수명 확인용도
for col in excel_AutoClave.columns:
    counts = excel_AutoClave[col].value_counts()
    print(f"Value counts for column {col}:")
    print(counts)
    print()

Value counts for column Collect Item::
IVI-OB6     61052
Wip Line        1
Name: Collect Item:, dtype: int64

Value counts for column Unnamed: 1:
Auto Clave Out    61052
Process Desc.         1
Name: Unnamed: 1, dtype: int64

Value counts for column Unnamed: 2:
Auto Clave Out    61052
Equipment             1
Name: Unnamed: 2, dtype: int64

Value counts for column Unnamed: 3:
AJX75334501     50598
AJX75334502      5077
AJX75334505      3984
AJX75334507       450
EAT65200901       446
AJX75334503       228
AJX75334506       177
AJX75334508        92
Model.Suffix        1
Name: Unnamed: 3, dtype: int64

Value counts for column Unnamed: 4:
3L1X8574-2    386
3K1XC268-1    357
3L1X9934-1    317
3L1X8506-1    307
3K1XA586-2    281
             ...
4BPM0084-1      3
4CPM0166-1      2
3G1XC620-2      2
3HPM0061-1      1
Workorder       1
Name: Unnamed: 4, Length: 678, dtype: int64

Value counts for column Unnamed: 5:
OP753345013050001894    4
OP753345013060003926    4
OP753345013080001009    4
OP753345013060001992    4
OP753345013050001645    4
                       ..
OP753345013090001136    1
OP753345013090001137    1
OP753345013090001138    1
OP753345013090001139    1
OP652009014040000070    1
Name: Unnamed: 5, Length: 58318, dtype: int64

Value counts for column Unnamed: 6:
OP753345013050001894    4
OP753345013060003926    4
OP753345013080001009    4
OP753345013060001992    4
OP753345013050001645    4
                       ..
OP753345013090001136    1
OP753345013090001137    1
OP753345013090001138    1
OP753345013090001139    1
OP652009014040000070    1
Name: Unnamed: 6, Length: 58318, dtype: int64

Value counts for column Unnamed: 7:
Box ID    1
Name: Unnamed: 7, dtype: int64

Value counts for column Unnamed: 8:
2023-10-21 12:04:15    20
2024-02-04 17:30:19    19
2023-11-10 11:06:00    19
2023-09-13 16:47:40    18
2023-11-15 09:36:04    18
                       ..
2023-12-16 09:22:01     1
2023-12-16 13:37:39     1
2023-12-16 14:26:10     1
2023-12-16 14:57:40     1
2024-04-20 11:42:24     1
Name: Unnamed: 8, Length: 8767, dtype: int64

Value counts for column Unnamed: 9:
1                58321
2                 2563
3                  157
4                   11
Insp. Seq No.        1
Name: Unnamed: 9, dtype: int64

Value counts for column Unnamed: 10:
OK                 61052
Insp Judge Code        1
Name: Unnamed: 10, dtype: int64

Value counts for column 1st Pressure:
0.311             4402
0.31              4101
0.301             4089
0.312             3971
0.309             3955
0.313             3726
0.3               3510
0.302             3473
0.308             3392
0.314             3354
0.303             3132
0.305             2898
0.299             2783
0.315             2745
0.304             2709
0.307             2274
0.306             2191
0.298             1815
0.316             1274
0.317              501
0.297              500
0.318              130
0.296               61
0.319               23
0.292               18
0.29                12
0.295               11
0.32                 2
Collect Result       1
Name: 1st Pressure, dtype: int64

Value counts for column 1st Pressure.1:
241          41279
240          13104
300           5610
181            319
121            226
120            206
180            102
0               68
61              67
1               46
60              25
Unit Time        1
Name: 1st Pressure.1, dtype: int64

Value counts for column 1st Pressure.2:
OK             61052
Judge Value        1
Name: 1st Pressure.2, dtype: int64

Value counts for column 2nd Pressure:
0.49              7326
0.491             7162
0.492             6183
0.312             2400
0.311             2241
                  ...
0.901                2
Collect Result       1
0.803                1
0.504                1
0.806                1
Name: 2nd Pressure, Length: 70, dtype: int64

Value counts for column 2nd Pressure.1:
1            28546
121          16286
120           7492
60            5298
90            2840
0              280
150            119
61              99
181             82
180             10
Unit Time        1
Name: 2nd Pressure.1, dtype: int64

Value counts for column 2nd Pressure.2:
OK             61052
Judge Value        1
Name: 2nd Pressure.2, dtype: int64

Value counts for column 3rd Pressure:
0.498             12909
0.499             12602
0.5               11940
0.497              9297
0.501              5991
                  ...
0.304                 2
0.614                 2
Collect Result        1
0.823                 1
0.824                 1
Name: 3rd Pressure, Length: 75, dtype: int64

Value counts for column 3rd Pressure.1:
121          40450
120          17356
150           2479
181            342
90             172
180             90
60              80
61              55
1               14
241             11
301              3
Unit Time        1
Name: 3rd Pressure.1, dtype: int64

Value counts for column 3rd Pressure.2:
OK             61052
Judge Value        1
Name: 3rd Pressure.2, dtype: int64

Value counts for column Chamber Temp.:
54                12496
49                 8641
50                 8540
53                 8076
55                 4966
48                 4901
52                 3183
47                 2617
56                 2547
51                 2369
57                 1378
46                  569
58                  163
33                  119
32                   93
34                   90
36                   78
35                   76
45                   59
43                   27
38                   22
37                   17
44                    8
59                    8
40                    3
30                    2
41                    2
42                    2
Collect Result        1
Name: Chamber Temp., dtype: int64

Value counts for column Chamber Temp..1:
363          22274
483          16033
480           9225
361           5883
510           2645
452           2196
362            617
450            610
481            598
360            474
512            119
540            103
423             83
301             59
212             40
300             17
183             15
303             15
243             13
180             10
242              7
3                7
61               6
120              2
121              1
Unit Time        1
Name: Chamber Temp..1, dtype: int64

Value counts for column Chamber Temp..2:
OK             44247
NG             16805
Judge Value        1
Name: Chamber Temp..2, dtype: int64

Value counts for column GMES_ORIGIN_INSP_JUDGE_CODE:
OK                16942
Collect Result        1
Name: GMES_ORIGIN_INSP_JUDGE_CODE, dtype: int64

Value counts for column GMES_ORIGIN_INSP_JUDGE_CODE.1:
Unit Time    1
Name: GMES_ORIGIN_INSP_JUDGE_CODE.1, dtype: int64

Value counts for column GMES_ORIGIN_INSP_JUDGE_CODE.2:
OK             16942
Judge Value        1
Name: GMES_ORIGIN_INSP_JUDGE_CODE.2, dtype: int64

In [30]:
# 병합본 데이터의 각 열에 대한 값의 개수 출력 -> 실 사용용도
for col in df_AutoClave.columns:
    counts = csv_AutoClave[col].value_counts()
    print(f"Value counts for column {col}:")
    print(counts)
    print()

Value counts for column Wip Line:
IVI-OB6    61052
Name: Wip Line, dtype: int64

Value counts for column Process Desc.:
Auto Clave Out    61052
Name: Process Desc., dtype: int64

Value counts for column Equipment:
Auto Clave Out    61052
Name: Equipment, dtype: int64

Value counts for column Model.Suffix:
AJX75334501    50598
AJX75334502     5077
AJX75334505     3984
AJX75334507      450
EAT65200901      446
AJX75334503      228
AJX75334506      177
AJX75334508       92
Name: Model.Suffix, dtype: int64

Value counts for column Workorder:
3L1X8574-2    386
3K1XC268-1    357
3L1X9934-1    317
3L1X8506-1    307
3K1XA586-2    281
             ...
3H1XB714-1      3
4BPM0084-1      3
4CPM0166-1      2
3G1XC620-2      2
3HPM0061-1      1
Name: Workorder, Length: 677, dtype: int64

Value counts for column LOT ID:
OP753345013050000601    4
OP753345013050001645    4
OP753345013120000196    4
OP753345013060003926    4
OP753345013080000187    4
                       ..
OP753345013090001137    1
OP753345013090001138    1
OP753345013090001139    1
OP753345013090001142    1
OP652009014040000070    1
Name: LOT ID, Length: 58317, dtype: int64

Value counts for column Set ID:
OP753345013050000601    4
OP753345013050001645    4
OP753345013120000196    4
OP753345013060003926    4
OP753345013080000187    4
                       ..
OP753345013090001137    1
OP753345013090001138    1
OP753345013090001139    1
OP753345013090001142    1
OP652009014040000070    1
Name: Set ID, Length: 58317, dtype: int64

Value counts for column Box ID:
Series([], Name: Box ID, dtype: int64)

Value counts for column Collect Date:
2023-10-21 12:04:15    20
2024-02-04 17:30:19    19
2023-11-10 11:06:00    19
2023-09-18 20:04:51    18
2023-09-18 17:28:19    18
                       ..
2023-12-16 13:37:39     1
2023-12-16 14:26:10     1
2023-12-16 14:57:40     1
2023-12-19 19:29:35     1
2024-04-20 11:42:24     1
Name: Collect Date, Length: 8766, dtype: int64

Value counts for column Insp. Seq No.:
1    58321
2     2563
3      157
4       11
Name: Insp. Seq No., dtype: int64

Value counts for column Insp Judge Code:
OK    61052
Name: Insp Judge Code, dtype: int64

Value counts for column Collect Result:
0.311    4402
0.310    4101
0.301    4089
0.312    3971
0.309    3955
0.313    3726
0.300    3510
0.302    3473
0.308    3392
0.314    3354
0.303    3132
0.305    2898
0.299    2783
0.315    2745
0.304    2709
0.307    2274
0.306    2191
0.298    1815
0.316    1274
0.317     501
0.297     500
0.318     130
0.296      61
0.319      23
0.292      18
0.290      12
0.295      11
0.320       2
Name: Collect Result, dtype: int64

Value counts for column Unit Time:
241    41279
240    13104
300     5610
181      319
121      226
120      206
180      102
0         68
61        67
1         46
60        25
Name: Unit Time, dtype: int64

Value counts for column Judge Value:
OK    61052
Name: Judge Value, dtype: int64

Value counts for column Collect Result.1:
0.490    7326
0.491    7162
0.492    6183
0.312    2400
0.311    2241
         ...
0.322       3
0.901       2
0.504       1
0.803       1
0.806       1
Name: Collect Result.1, Length: 69, dtype: int64

Value counts for column Unit Time.1:
1      28546
121    16286
120     7492
60      5298
90      2840
0        280
150      119
61        99
181       82
180       10
Name: Unit Time.1, dtype: int64

Value counts for column Judge Value.1:
OK    61052
Name: Judge Value.1, dtype: int64

Value counts for column Collect Result.2:
0.498    12909
0.499    12602
0.500    11940
0.497     9297
0.501     5991
         ...
0.614        2
0.304        2
0.398        2
0.823        1
0.824        1
Name: Collect Result.2, Length: 74, dtype: int64

Value counts for column Unit Time.2:
121    40450
120    17356
150     2479
181      342
90       172
180       90
60        80
61        55
1         14
241       11
301        3
Name: Unit Time.2, dtype: int64

Value counts for column Judge Value.2:
OK    61052
Name: Judge Value.2, dtype: int64

Value counts for column Collect Result.3:
54    12496
49     8641
50     8540
53     8076
55     4966
48     4901
52     3183
47     2617
56     2547
51     2369
57     1378
46      569
58      163
33      119
32       93
34       90
36       78
35       76
45       59
43       27
38       22
37       17
44        8
59        8
40        3
41        2
30        2
42        2
Name: Collect Result.3, dtype: int64

Value counts for column Unit Time.3:
363    22274
483    16033
480     9225
361     5883
510     2645
452     2196
362      617
450      610
481      598
360      474
512      119
540      103
423       83
301       59
212       40
300       17
183       15
303       15
243       13
180       10
3          7
242        7
61         6
120        2
121        1
Name: Unit Time.3, dtype: int64

Value counts for column Judge Value.3:
OK    44247
NG    16805
Name: Judge Value.3, dtype: int64

Value counts for column Collect Result.4:
OK    16942
Name: Collect Result.4, dtype: int64

Value counts for column Unit Time.4:
Series([], Name: Unit Time.4, dtype: int64)

Value counts for column Judge Value.4:
OK    16942
Name: Judge Value.4, dtype: int64